article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: 'Lato', sans-serif;
	color: #222;
	/*background: black;*/
}

.hero {
	background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), 100%, rgba(0,0,0,0)), url(../assets/wildflower.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
}

.hero .container {
	margin: auto;
}

h1 {
	margin: auto;
	letter-spacing: 7px;
	text-transform: uppercase;
	font-size: 60px;
	color: white;
}

h2, h3 {
	letter-spacing: 3px;
	text-transform: uppercase;
	margin: 30px 0;
}

.container {
	max-width: 1250px;
	margin: 0 auto;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.gallery div {
	width: calc(33.33% - 20px);
	max-height: 200px;
	overflow: hidden;
	margin: 10px;
}

img {
	max-width: 100%;
}

a {
	/*color:white;*/
	text-decoration: none;
}

section, footer {
	padding: 50px 0;
	background-color: #bbb;
}

.save-the-bees, footer {
	background-color: #333;
	color: white;
}

footer {
	text-align: center;
}

footer a {
	color: white;
}
.nav {
	background: black;
	list-style: none;
	width: 30%;
	height: 100%;
	position: fixed;
	right: -30%;
	top: 0;
	bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}
.nav a {
	color: white;
	font-size: 2.5rem;
	padding: 20px;
	display: block;
	transition: background-color .3s;
}
.nav li{
	border-bottom: 1px solid white;
}
.nav a:hover {
	background-color: dodgerblue;
	}

input[type=checkbox] {
	display: none;
}

input[type=checkbox]:checked + .nav {
	right: 0;
}

label {
	position: fixed;
	top: 10px;
	left: 10px;
	color: white;
}
.wrapper {
	position: relative;
	left: 0;
	transition: left .3s;

}

input[type=checkbox]:checked ~ .wrapper {
	left: -30%;
}



 /* nav code to do: */
}
/* select the navigation and style it accordingly, we will need to use positioning for this*/
/* lets set a width on the nav, and use a clever right value to get it off the page */
/* select the wrapper and style it. We will need to make it position relative to finish styling the nav. */
/* Select the wrapper and set a default of left:0; so we can transition it */
/* When the input is checked, grab the next sibling nav with the + selector */
/* when the input is checked, select the ul.nav and set it back to right:0; ( It was at right:-30%; )*/
 /* When the input is checked, slide the wrapper over as well  */
 /* hide the input, we don't need to see it */
/*position the menu so that it doesn't slide off screen when we open it*/

